/* 
在移动端隐藏原生的浏览器滚动条
:root 的滚动条无法通过 css 隐藏
所以把滚动应用到 body，再针对 body 进行滚动条隐藏.
*/
/* @media (max-width: 750px) {
    :root {
        height: 100%;
        overflow: hidden;
    }
    body {
        height: 100%;
        overflow-y: auto;

        scrollbar-width: none;
        scrollbar-color: transparent;

        &::-webkit-scrollbar {
            appearance: none;
            display: none;
        }
    }
} */
