/* @import url(./custom-root.css); */

/* 上下页 按左右对半排列 */
.prev-next {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
}

/* 两边空隙 10px 差不多了 */
.VPContent .VPDoc {
    padding: 32px 10px 96px;
}

/* 代码块，原来是是 margin: 16px -24px, 会造成移动端的横向滚动 */
.vp-doc div[class*='language-'],
.vp-code-group .tabs,
.vp-block {
    margin: 16px 0;
}

/* 
* 图片左右居中比较好看
* 通过 ![]() 导入的图片都会被 p 包围
*/
.vp-doc p > img {
    margin-left: auto;
    margin-right: auto;
}

/* 
 * ipad mini 是 768 * 1024
 */
@media (min-width: 750px) {
    .max-w-500 {
        max-width: 500px;
    }
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

@media (max-width: 750px) {
    .VPFeature {
        /* 在移动端首页的 feature 不要显示图标，内容更紧凑好看 */
        .icon {
            display: none;
        }
    }
}

/* 如下这些样式本来需要在首页的 index.md 但是不知道为嘛不生效 */

:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #df2c3f 30%, #fed5b8);

    --vp-home-hero-image-background-image: linear-gradient(-45deg, #df2c3f 50%, #fed5b8 50%);
    --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
    :root {
        --vp-home-hero-image-filter: blur(56px);
    }
}

@media (min-width: 960px) {
    :root {
        --vp-home-hero-image-filter: blur(68px);
    }
}
