@import url(./custom-root.css);

/* 上下页 按左右对半排列 */
.prev-next {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
}

/* 两边空隙 10px 差不多了 */
.VPContent .VPDoc {
    padding: 32px 10px 96px;
}

/* 代码块，原来是是 margin: 16px -24px, 会造成移动端的横向滚动 */
.vp-doc div[class*='language-'],
.vp-block {
    margin: 16px 0;
}

/* 
* 图片左右居中比较好看
* 通过 ![]() 导入的图片都会被 p 包围
*/
.vp-doc p > img {
    margin-left: auto;
    margin-right: auto;
}

/* 
 * ipad mini 是 768 * 1024
 */
@media (min-width: 750px) {
    .max-w-500 {
        max-width: 500px;
    }
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}
